$color_1: yellow;
$color_2: black;
$color_3: white;
$color_4: red;
$background-color_1: blueviolet;
$background-color_2: white;
$background-color_3: black;

p {
	padding: 10px 0;
	margin: 0;
}
.lvl-one {
	height: 40px;
	padding-bottom: 5px;
	width: 100%;
	background-color: $background-color_1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.one-content {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	color: $color_1;
}
.one-right {
	display: flex;
	align-items: center;
	img {
		height: 30px;
		width: auto;
		object-fit: cover;
		margin: 0px 10px;
	}
}
.one-left {
	display: flex;
	align-items: center;
	div {
		display: flex;
		align-items: center;
		margin: 10px;
		svg {
			margin: 0 5px;
			margin-top: 5px;
		}
	}
}
.one-mid {
	display: flex;
	align-items: center;
	p {
		span {
			text-decoration: underline;
			cursor: pointer;
		}
	}
	svg {
		margin: 5px 10px 0;
	}
}
.links {
	div {
		display: flex;
		align-items: center;
		margin: 10px;
		svg {
			margin: 0 5px;
			margin-top: 5px;
		}
	}
	display: flex;
	align-items: center;
}
.lvl-two {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.two-content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
}
.three-content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	p {
		cursor: pointer;
		&:nth-child(7) {
			color: $color_4;
		}
	}
}
.search {
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	background-color: $background-color_2;
	input {
		height: 90%;
		outline: none;
		border: none;
		margin-left: 5px;
		font-weight: bold;
		color: $color_2;
	}
}
.logo {
	img {
		height: 40px;
		width: auto;
		object-fit: cover;
	}
}
.two-right {
	display: flex;
	align-items: center;
}
.two-left {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	a {
		display: flex;
		text-decoration: none;
		color: $color_2;
		align-items: center;
		p {
			font-size: 16px;
			font-weight: 400;
			margin-left: 3px;
		}
	}
	.num {
		width: 15px;
		height: 15px;
		font-size: 12px;
		border-radius: 50%;
		background-color: $background-color_1;
		color: $color_3;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 21px;
		top: 5px;
		padding: 0;
		margin: 0;
	}
}
.two-mid {
	display: flex;
	align-items: center;
}
.lvl-three {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: $background-color_3;
	color: $color_3;
}
.lvl-four {
	width: 100%;
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: center;
}
.four-content {
	width: 80%;
}
@media screen and (max-width:1380px) {
	.lvl-one {
		height: auto;
		text-align: center;
	}
	.one-content {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
@media screen and ( max-width: 800px) {
	.lvl-two {
		height: auto;
	}
	.two-content {
		height: auto;
		flex-wrap: wrap;
		padding: 20px 0 10px;
		justify-content: center;
		align-items: center;
		.links {
			flex-wrap: wrap;
		}
	}
}
